html, body {
  margin: 0;
  padding: 0;
  background-color: #1E1E1E;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */
  --sidebarWidth: 30vw;
}
