.container {
  background: #1E1E1E;
  position: relative;

  box-sizing: border-box;
  flex-grow:1;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-left: 40px;
  border: none;

  margin-top: 150px;
  margin-right: 240px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;

  color: #68C4C6;
}
.pageTitle > p {
  margin: 0 0 10px 0;
  text-justify: initial;
}

.pageTitle > h1 {
  margin: 0;
}

.form {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: auto;
  height: auto;
  margin-top: 50px;
  padding: 40px;
  border-radius: 15px;

  background-color: #2C2C2C;;
}

.form > h1 {
  margin: 0px 0 5px 0;
  color: #68C4C6;
}

.form > label {
  margin: 15px 0 5px 10px;
  color: #68C4C6;
}

.form > input {
  color: #68C4C6;
  background-color: #1E1E1E;

  height: 30px;
  width: 400px;
  padding: 10px;

  border: none;
  border-radius: 10px;
}

.form > input:focus {
  outline: solid 2px #68C4C6;
}

.selectors {
  width: 100%;

  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}


.selector {
  display: flex;
  flex-direction: column;
}

.selector > label {
  margin: 15px 0 5px 0px;
  color: #68C4C6;
}


.cancelButton {
  width: fit-content;
  height: 50px;

  padding: 0 20px;

  color: white;
  background-color: #424242;

  font-weight: bold;

  border: none;
  border-radius: 10px;

  cursor: pointer;
}

.cancelButton:hover {
  background-color: #BE0000;
  color: #ffffff;
  font-weight: bolder;
}

.addButton {
  color: #ffffff;
  background-color: #1E1E1E;

  height: 50px;
  width: 100%;
  padding: 10px;

  border: none;
  border-radius: 10px;

  font-weight: bolder;
  cursor: pointer;
}

.addButton:hover {
  background-color: #68C4C6;
  font-weight: bolder;
}

.buttons {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.selectContainer {
  position: relative;
}

.select {
  position: relative;

  display: flex;
  align-items: center;

  width: fit-content;
  height: 40px;
  padding: 8px 15px;
  background-color: #1E1E1E;
  color: rgb(191, 191, 191);
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  outline: none;
  /* hide caret in FireFox */
  -moz-appearance: none;
  /* hide caret in Chrome */
  -webkit-appearance: none;
  cursor: pointer;
}

/* hide caret in IE10 */
.select::-ms-expand {
  display: none;
}


.select:hover {
  background-color: rgb(56, 56, 56);
}
