.container {
  background: #1E1E1E;

  box-sizing: border-box;
  /* width: 70vw; */
  flex-grow:1;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* padding: 0 40px 0 40px; */
  padding-left: 40px;
  border: none;

  margin-top: 150px;
  margin-right: 240px;
}

.container > h1 {
  font-size: 60px;
  margin-top: 100px;
  margin-bottom: 0;

  background-image: linear-gradient(45deg, #68C4C6, #2082d8);

  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.container > p {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 60px;
  color: #838383;
}

.container > img {
  width: 90%;
  height: auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;

  color: #68C4C6;
}
.pageTitle > p {
  margin: 0 0 10px 0;
  text-justify: initial;
}

.pageTitle > h1 {
  margin: 0;
}

.button {
  width: fit-content;
  height: 38px;

  padding: 0 20px;

  color: white;
  background-color: #68C4C6;

  font-weight: bold;

  border: none;
  border-radius: 10px;

  cursor: pointer;
}